
html {
  scroll-behavior: smooth;
  
}
body{
  background-image: url("18806B2E-D05A-4EC6-B6E9-766CC8D1789B_1_102_o.png");
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position: top;
  background-size: 99%;
  position: relative;
  
  
}
.introduction{
  background-color: rgba(0,0,0, 0.3);
  border: 5px solid white;
  border-radius: 40px;
  width: 41.67%;
  text-align: center;
  font-size: 1.92vw;
  position: absolute;
  left: 15.38%;
  top: 5%;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;

}


.header{
  color: #213555;
  font-family: 'Belanosima', sans-serif;
}

.sub{
  font-family: 'Ysabeau Office', sans-serif;
  color: #4F709C;
}

#social{
  position: absolute;
  bottom: 0px;
  
}

a img{
  padding: 20px;
  position:relative;
  bottom: 0;
  left: 0;
  width: 4%;
}
#first p{
  margin: 20;

}
#first{
  position: absolute;
  top: 23.3%;
  left:15%;
  height: 8.33%;
  width: 17.5%;
  background-color: rgba(0,0,0, 0.3)   ;
  padding: 20px;
  border: 7px solid black;
  border-radius: 30px;
  font-family: 'Ysabeau Office', sans-serif;
  color:    #D0F5BE;
  font-size: 190%;
  text-align: center;
  
}
#seccond p{
  margin-top: 18%;
}
#seccond{
position:absolute;
left: 39.3%;
top: 23.3%;
height: 8.33%;
width: 17.5%;
background-color: rgba(0,0,0, 0.3)   ;
padding: 20px;
border: 7px solid black;
border-radius: 30px;
font-family: 'Ysabeau Office', sans-serif;
color:    #98EECC;
font-size: 200%;
text-align: center;

}
#third p{
  margin-top: 8%;
}

#third{
position: absolute;
left: 63.6%;
top: 700px;
height: 8.33%;
width: 17.5%;
background-color: rgba(0,0,0, 0.3)   ;
padding: 20px;
border: 7px solid black;
border-radius: 30px;
font-family: 'Ysabeau Office', sans-serif;
color:    #A2FF86;
font-size: 190%;
text-align: center;
}
#line_1{
  position: absolute;
  top: 610px ;
  right: 0;
  height: 0px;
  width: 440px;
  background-color: rgba(0,0,0, 0.3)   ;
  border: 8px solid black;
  border-radius: 6px;
}
#line_2{
  position: absolute;
  top: 1095px ;
  left: 0;
  height: 0px;
  width: 50%;
  background-color: rgba(0,0,0, 0.3)   ;
  border: 8px solid black;
  border-radius: 6px;
}
#line_3{
  position: absolute;
  top: 1080px ;
  left: 0;
  height: 0px;
  width: 35%;
  background-color: rgba(0,0,0, 0.3)   ;
  border: 2px solid black;
  border-radius: 6px;
}
#work{
  position: absolute;
  top: 1300px;
  height: 470px;
  width: 50%;
  background-color: #D0F5BE ;

}
#work p{
    margin: 40px;
    font-size: 30px;
}
#study{
  position: absolute;
  top: 1770px;
  left: 50%;
  height: 470px;
  width: 50%;
  background-color: #98EECC ;
  width: 50%;
}
#study p{
    margin: 60px;
    margin-left: 80px;
    padding: 40px;
    font-size: 30px;
}
#skills{
  position: absolute;
  top: 2240px;
  height: 470px;
  width: 50%;
  background-color: #A2FF86 ;
  width: 50%;
}
#skills p{
    font-size: 30px;
    padding-left: 10px;
    margin-left: 90px;
}
li{
  list-style: none;
  margin-left: 20px;
}
#basketball{
  width:50%;
  left: 50%;
  height: 470px;
  position:absolute;
  top: 1300px;
}
#cpu{
  width:50%;
  height: 470px;
  position: absolute;
  top: 1770px;
}
#maccabi{
  width:50%;
  left: 50%;
  height: 470px;
  position: absolute;
  top: 2240px;
}
